/* index.html */

#header {
	width: 100%;
	height: 70px;
	background-color: #B3DBE2;
	margin: 0;
}

#header h1 {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 10px;
}

#header #account {
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 10px;
}

#login-signup, #account-info {
	display: none;	/* please don't change */
}

#login-signup a, #login-signup form, #account-info p, #account-info form {
	display: inline-block;
}

/* account.html */

#logged-in, #not-logged-in {
	display: none;	/* please don't change */
}

#logged-in div {
	border: solid 2px #000;	/* you can change this; i just wanted to show you where divs were */
	margin: 5px;
}
