/* -------------------------------- GENERAL --------------------------------- */
* {
	margin: 0;
	padding: 0;
	font-family: "Avenir Next", sans-serif;
}

*:focus {
	outline: none;
}

body {
	background-color: #F4F7FA;
	background-size: 100% 100%;
}

html {
	height: 100%;
}

.background {
	background-color: #F4F7FA;
	width: 100%;
	height: 100%;
}

/* HEADER */

#header {
	width: 100%;
	height: 70px;
	background-color: #B3DBE2;
	margin: 0;
}

#header h1 {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 10px;
	font-weight: 300;
}

#header a:active, #header a:link, #header a:visited, #header a:hover {
	text-decoration: none;
	color: black;
}

#header #account {
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 10px;
}

#login-signup, #account-info {
	display: none;	/* please don't change */
}

#login-signup a, #login-signup form, #account-info p, #account-info form {
	display: inline-block;
	vertical-align: middle;
	margin-top: 2px;
}

#loginform input {
	padding-left: 5px;
}

#loginform input::placeholder {
	padding-left: 0px;
}

#loginform input[type=submit] {
	width: 60px;
	border-color: white;
	border-width: 1px;
	background-color: #75C9D8;
	color: white;
	font-weight: 200;
	padding-left: 0px;
}

#login-signup a {
	float: right;
	font-size: 13px;
	margin-top: 4px;
}

#account-info p {
	margin-top: 15px;
}

#account-info a {
	background-color: #75C9D8;
	color: white;
	padding: 1px;
	border: 1px;
	border-style: solid;
	border-color: white;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: 200;
	margin-right: -4px;
}

#sign-out {
	float: right;
	margin-top: 13px;
	margin-left: 10px;
}

/* FOOTER */

#footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #fff;
	height: 70px;
}

#footer #links {
	display: inline-block;
	position: absolute;
	left: 15px;
	bottom: 0;
}

#footer p {
	margin: 0;
	position: absolute;
	right: 0;
	bottom: 0;
}

#footer #links a, #footer p {
	line-height: 70px;
	color: #4A5460;
	margin-right: 15px;
}

/* --------------------------------- INDEX ---------------------------------- */

/*-------DASHBOARD-------*/

#dashboard {
	width: 100%;
	max-width: 100%;
	margin: 0;
}

#dashboard [class*=col] {
	padding: 10px;
}

#dashboard [class*=col] > div {
	background-color: #fff;
	border: 1px solid #CBCCCB;
	padding: 15px;
}

#dashboard [class*=col] div h3 {
	font-size: 20px;
	color: #345E9C;
	font-weight: 300;
}

#listings, #stock-graph, #orders, #trade, #news {
	height: 350px;
}

/* LISTINGS */
.listing-info h5, .listing-info h6 {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 2px;
}

#listings hr {
	margin-bottom: 0;
}

.listing {
	width: 100%;
	border-bottom: 1px solid lightgray;
	padding: 10px;
	padding-left: 10px;
	margin: 0;
}

.listing img {
	width: 60px;
	float: left;
	margin-right: 15px;
}

#listing-scroll {
    height: 275px;
    overflow: auto;
}

.priceinc {
	color: #00C55A;
}

.pricedec {
    color: red;
}

.nochange {
    color: #FDBE3C;
}

/* GRAPH */
#stock-graph-container {
	width: 100%;
	height: 262px;
}

#stock-graph {
	width: 100%;
	margin: 0 auto;
}

/* ORDERS */
#orders-buy {
	overflow: scroll;
}

#sell-list {
    list-style-type: none;
}

#orders-sell h4 {
    font-size: 13px;
    float: left;
    margin-right: 50px;
}

#sell-list {
    font-size: 13px;
}

#sell-list div {
    float: left;
}

.sell-time {
    background: cyan;
    width: 110px;
    margin-right: 5px;
}

.sell-buyorsell {
    background: cyan;
    width: 80px;
    margin-right: 5px;
}

.sell-price {
    background: cyan;
    width: 115px;
    margin-right: 5px;
}

.sell-numTokens {
    background: cyan;
    width: 99px;
}

/* NEWS */
#news-container {
    height: 236px;
    overflow: scroll;
}

#articles {
	list-style-type: none;
}

/* BUY AND SELL */
#trade hr {
	margin-bottom: 4px;
	margin-top: 40px
}

#buy-sell {
	margin: 0;
	padding: 0;
}

.buy-form-container, .sell-form-container {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}

.buy-form-container {
	margin-left: 5px;
}

.sell-form-container {
	margin-left: 50px;
}

.buy-form-container h2, .sell-form-container h2 {
	font-size: 15px;
	font-weight: 300;
	margin-top: 6%;
}

.buy-form input, .sell-form input {
	float: right;
	width: 300px;
}

.buy-form input::placeholder, .sell-form input::placeholder {
	text-align: right;
	padding-right: 5px;
}

.buy-form input[type=submit], .sell-form input[type=submit] {
	width: 100%;
	margin: 0 auto;
	padding: 5px;
	margin-top: 20px;
	border: none;
	color: white;
	font-weight: 200;
	padding-left: 0px;
}

.buy-form input[type=submit] {
	background-color: #AEF4B1;
}

.sell-form input[type=submit] {
	background-color: #E4C1C0;
}

#wallet {
	display: inline;
}

#wallet img {
	float: right;
	width: 30px;
	margin-right: 53px;
}

#wallet h3 {
	width: 100px;
	position: absolute;
}

#wallet h4 {
	font-size: 14px;
	position: absolute;
	right: 30px;
	font-weight: 300;
}

/* --------------------------------- 404 ---------------------------------- */
#errormessage {
	width: 50%;
	height: 330px;
	margin-left: 15%;
	margin-top: 11%;
}

#errormessage h1 {
	font-weight: 200;
	font-size: 90px;
	margin-bottom: 0px;
}

#errormessage h2, h3 {
	color: darkgray;
	font-weight: 200;
	font-size: 25px
}

#errormessage h4 {
	font-weight: 400;
	font-size: 18px;
	margin-top: 10px;
	text-decoration: none;
}

#errormessage a:active, #errormessage a:link, #errormessage a:visited {
	text-decoration: none;
	color: black;
}

#errormessage a:hover {
	color: #B3DBE2;
}

/* -------------------------------- ACCOUNT --------------------------------- */

#account-header {
	text-align: center;
	margin-top: 5%;
	font-weight: 300;
}

#logged-in {
	margin-top: 2%;
}

#logged-in, #not-logged-in {
	display: none;	/* please don't change */
}

#logged-in [class*=col] div {
	width: 100%;
	margin-bottom: 20px;
}

#sign-out {
	width: 75px;
	border-color: white;
	border-width: 1px;
	background-color: #75C9D8;
	color: white;
	font-weight: 200;
	padding-left: 0px;
}

#not-logged-in p {
	text-align: center;
}

#username-container input[type=submit], #name-container input[type=submit], #email-container input[type=submit], #password-container input[type=submit], #address-container input[type=submit], #telephone-container input[type=submit], #login-tier-container input[type=submit] {
	width: 70px;
	border-color: white;
	border-width: 1px;
	background-color: #75C9D8;
	color: white;
	font-weight: 200;
	padding-left: 0px;
}

#portfolio-container p {
	margin-bottom: 0;
}

#portfolio-container ul {
	list-style: none;
}

#logged-in input {
	margin-bottom: 5px;
}

/* -------------------------------- SIGNUP --------------------------------- */
#signup h1 {
	font-weight: 200;
	font-size: 90px;
	margin-bottom: 0px;
}

#signup {
	width: 270px;
	margin: 0 auto;
	margin-top: 10%;
}

#signupform input {
	width: 200px;
	height: 30px;
	font-size: 15px;
	margin: 5px;
	margin-left: 12%;
	background-color: white;
	outline: none;
	border: 1px solid #BDBDBD;
	text-align: center;
}

#signupform input:focus, input:active {
	outline: none;
}

::placeholder {
	color: #BDBDBD;
	padding-left: 7px;
	text-align: center;
}

#signupform #signupsubmit {
	width: 100px;
	align-items: center;
	margin-left: 85px;
	background-color: #B3DBE2;
	color: white;
}

#logged-in [class*=col] div p {
	font-weight: bold;
}

#logged-in [class*=col] div p span {
	font-weight: normal;
}

.edit-button {
	font-size: 12px;
	color: #b5b5b5;
	cursor: pointer;
}

.update-form {
	display: none;
}
