<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>home</title>
	
	<!-- css -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">
	<link rel="stylesheet" href="/css/css.css">
    <link href="bootstrap.min.css" rel="stylesheet" media="screen">
	
	<!-- js -->
    <script src="jquery-3.3.1.min.js"></script>
    <script src="bootstrap.min.js"></script>
	<script src="/http://socket.io/socket.io.js"></script>
	<script src="/js/header.js"></script>
	<script src="/js/index.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<body>
<!-----HEADER----->
	<div id="header">
		<a href="/"><h1>parallel</h1></a>
		
<!-----ACCOUNT----->
		<div id="account">
			<div id="login-signup">
				<!-- do NOT change anything besides placeholders/values below -->
				<form id="loginform">
					<input name="username" type="text" placeholder="username">
					<input name="password" type="password" placeholder="password">
					<input type="submit" value="login">
				</form>
			</div>
            
            <a href="/signup">Don't have an account? Sign up!</a>
			
			<div id="account-info">
				<p><span id="username"></span></p>
				<a href="/account">account</a>
				<button id="sign-out">sign out</button>
			</div>
		</div>
	</div>
	
	<div class="container" id="dashboard">

<!-----LISTINGS----->
		<div class="row">
			<div class="col-2">
				<div id="listings">
					<h3>Listings</h3>
					<hr>
				</div>
			</div>

<!-----STOCK GRAPHS----->
			<div class="col-6">
				<div id="stock-graphs">
					<h3>Stock Name</h3>
                    <hr>
					<canvas id="stock-graph" width="250" height="123"></canvas>
					<script src="js/index.js"></script>
				</div>
			</div>

<!-----ORDERS AND TRADES----->
			<div class="col-4">
				<!-- There should be Orders tab and Trades tab -->
				<div id="orders">
					<!-- <h3>Orders</h3> -->
					<h3>Trades</h3>
                    <hr>
					<ul id="trades"></ul>

					<table style="width:100%">
					  <tr>
					    <th>Time (EST)</th>
					    <th>Type</th>
					    <th>Price (USD)</th>
					    <th>Volume</th>
					  </tr>
					  <tr>
					    <td>14:29:48</td>
					    <td>Sell</td>
					    <td>7905</td>
					    <td>1.00</td>
					  </tr>
					  <tr>
					    <td>14:29:48</td>
					    <td>Sell</td>
					    <td>7905</td>
					    <td>1.00</td>
					  </tr>
					  	<tr>
					    <td>14:29:48</td>
					    <td>Sell</td>
					    <td>7905</td>
					    <td>1.00</td>
					  </tr>
					  	<tr>
					    <td>14:29:48</td>
					    <td>Sell</td>
					    <td>7905</td>
					    <td>1.00</td>
					  </tr>
					  	<tr>
					    <td>14:29:48</td>
					    <td>Buy</td>
					    <td>7905</td>
					    <td>1.00</td>
					  </tr>
					  <tr>
					    <td>14:29:48</td>
					    <td>Buy</td>
					    <td>7905</td>
					    <td>1.00</td>
					  </tr>
					  <tr>
					    <td>14:29:48</td>
					    <td>Buy</td>
					    <td>7905</td>
					    <td>1.00</td>
					  </tr>
					  <tr>
					    <td>14:29:48</td>
					    <td>Buy</td>
					    <td>7905</td>
					    <td>1.00</td>
					  </tr>
					</table>
				</div>
			</div>
		</div>

<!-----NEWS----->
		<div class="row">
			<div class="col-4">
				<div id="news">
					<h3>News</h3>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">time</div>
                        <div class="col-sm-8 headline">headline</div>
                    </div>
				</div>
			</div>

<!-----TRADE----->
			<div class="col-8">
				<div id="trade">
					<h3>Trade</h3>
                    <hr>
                    <h4 class="tradetabs">Limit</h4>
                    <h4 class="tradetabs">Market</h4>
                    <h4 class="tradetabs">Stop-Limit</h4>
					<br>
					<div id="buy-sell">
						<div id="buy">
	                        <h2>Buy BNB</h2>
	                            <form id="buyForm">
	                                <!-- hidden: username, token symbol, username, get from page -->
	                                    <input name="tokenSymbol" type="hidden">
	                                    <input name="username" type="hidden">
	                                    <input name="buyOrSell" type="hidden" value="buy">
	                                    <input name="orderType" type="hidden" value="market"><br>

	                                <!-- either numTokens OR price should be filled -->
	                                    <input name="numTokens" type="text" placeholder="Amount in BNB"><br>
	                                    <input name="reqByAmount" type="text" placeholder="Amount in USD"><br>

	                                <!-- this should be buy or sell -->
	                                    <input type="submit" value="Buy">
	                            </form>
	                    </div>
						
						<div id="sell">
	                        <h2>Sell BNB</h2>
	                            <form id="sellForm">

	                                <!-- hidden: username, token symbol, username, get from page -->
	                                <input name="tokenSymbol" type="hidden">
	                                <input name="username" type="hidden">
	                                <input name="buyOrSell" type="hidden" value="sell">
	                                <input name="orderType" type="hidden" value="market"><br>
<!-- 	                                <input name="orderType" type="text" placeholder="orderType"><br> -->

	                                <!-- either numTokens OR price should be filled -->
	                                <input name="numTokens" type="text" placeholder="Amount in BNB"><br>
	                                <input name="reqByAmount" type="text" placeholder="Amount in USD"><br>

	                                <!-- this should be buy or sell -->
	                                <input type="submit" value="Sell">
	                            </form>
	                    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<!-----FOOTER----->
	<div id="footer">
		<div id="links">
			<a href="">Home</a>
			<a href="">Careers</a>
			<a href="">Legal & Privacy</a>
		</div>
		
		<p>2017 Parallel</p>
	</div>
</body>
</html>
