<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>signup</title>
	
	<!-- css -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">
	<link rel="stylesheet" href="/css/css.css">
	
	<!-- js -->
	<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script src="/js/signup.js"></script>
</head>

<body>
	<div id="header">
		<h1>parallel</h1>
	</div>
	
	<h1>signup</h1>
	
	<!-- do NOT change anything besides placeholders/values below -->
	<form id="signupform">
		<input name="email" type="email" placeholder="email"><br>
		<input name="username" type="text" placeholder="username"><br>
		<input name="password" type="password" placeholder="password"><br>
		<input type="submit" value="signup">
	</form>
	
	<div id="footer">
		<div id="links">
			<a href="">Home</a>
			<a href="">Careers</a>
			<a href="">Legal & Privacy</a>
		</div>
		
		<p>2017 Parallel</p>
	</div>
</body>
</html>
