<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Parallel Market</title>
	
	<!-- css -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">
	<link rel="stylesheet" href="/css/css.css">
	
	<!-- js -->
	<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script src="/js/header.js"></script>
	<script src="/js/index.js"></script>
</head>

<body>
	<div id="header">
		<h1>parallel</h1>
		
		<div id="account">
			<div id="login-signup">
				<a href="/signup">sign up</a>
				
				<form id="loginform">
					<input name="username" type="text" placeholder="username"><br>
					<input name="password" type="password" placeholder="password"><br>
					<input type="submit" value="login">
				</form>
			</div>
			
			<div id="account-info">
				<p><span id="username"></span></p>
				<button id="sign-out">sign out</button>
			</div>
		</div>
	</div>
	
	<h1>Trade</h1>
	<h2>Buy</h2>
	<form id="buyForm">

		<!-- hidden: username, token symbol, username, get from page -->
		<input name="tokenSymbol" type="hidden">
		<input name="username" type="hidden">
		<input name="buyOrSell" type="hidden" value="buy">
		<input name="orderType" type="hidden" value="market"><br>

		<!-- either numTokens OR price should be filled -->
		<input name="numTokens" type="text" placeholder="numTokens"><br>

		<input name="price" type="text" placeholder="amount to spend"><br>


		<!-- this should be buy or sell -->
		<input type="submit" value="trade">

	</form>

	<h2>Sell</h2>
	<form id="sellForm">

		<!-- hidden: username, token symbol, username, get from page -->
		<input name="tokenSymbol" type="hidden">
		<input name="username" type="hidden">
		<input name="buyOrSell" type="hidden" value="sell">
		<input name="orderType" type="hidden" value="market"><br>

		<input name="orderType" type="text" placeholder="orderType"><br>

		<!-- either numTokens OR price should be filled -->
		<input name="numTokens" type="text" placeholder="numTokens"><br>

		<input name="price" type="text" placeholder="amount to spend"><br>


		<!-- this should be buy or sell -->
		<input type="submit" value="trade">

	</form>


	<h2>Executed Trades</h2>
	<ul id="trades"></ul>


	<div id="footer">
		<div id="links">
			<a href="">Home</a>
			<a href="">Careers</a>
			<a href="">Legal & Privacy</a>
		</div>
		
		<p>2017 Parallel</p>
	</div>
</body>
</html>
